<!DOCTYPE html>
<html>
<head>
	<title>Disconnect custom element</title>
	<script src="../window-page.js"></script>
	<script>
class HTMLXSetupElement extends HTMLElement {
	connectedCallback() {
		Page.connect(this);
	}
	disconnectedCallback() {
		Page.disconnect(this);
	}
	setup(state) {
		document.body.dataset.setup++;
	}
	close(state) {
		document.body.dataset.close++;
	}
}

window.customElements.define("x-setup", HTMLXSetupElement);

Page.setup(function(state) {
	document.body.dataset.setup = 0;
	document.body.dataset.close = 0;
	document.body.insertAdjacentHTML('beforeEnd', '<x-setup></x-setup>');
	document.body.firstElementChild.remove();
});

	</script>
</head>
<body>
</body>
</html>
