<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="../window-page.js"></script>
	<script src="../assets/x-link-close.js"></script>
	<script>
function trigger() {
	// doing UI things on patch is bad, and done here only for the sake of the test
	setTimeout(function() {
		window.id1.dispatchEvent(new MouseEvent('click', {
			view: window,
			bubbles: true,
			cancelable: true
		}));
	}, 50);
}


Page.setup(function(state) {
	// called once
	if (state.pathname != "/newroute.html") trigger();
});
	</script>
	<style>
	x-link:after {
		content: attr(href);
	}
	</style>
</head>
<body>
	<x-link href="/newroute.html" id="id1"></x-link>
</body>
</html>
