<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="../window-page.js"></script>
	<script src="../assets/x-link-reload.js"></script>
	<script>
Page.route(function() {});

function trigger(state) {
	// trigger on patch to force calling patch on reload
	// NB: state.reload does not close if no BUILD chain exists
	setTimeout(function() {
		window.id1.dispatchEvent(new MouseEvent('click', {
			view: window,
			bubbles: true,
			cancelable: true
		}));
		if (window.reloaded) return;
		window.reloaded = true;
		state.reload();
	}, 50);
}

Page.patch(trigger);


	</script>
	<style>
	x-link:after {
		content: attr(href);
	}
	</style>
</head>
<body>
	<x-link-reload href="?test=bad" id="id1"></x-link-reload>
</body>
</html>
