<!DOCTYPE html>
<html>
<head>
	<title>Template page</title>
	<script src="/polyfills/url.js"></script>
	<script src="/polyfills/promise.js"></script>
	<script src="/window-page.js"></script>
	<script src="/assets/a.js"></script>
	<script src="/assets/b.js"></script>
	<script src="/assets/b.js"></script>
	<script src="/assets/a.js"></script>
	<script src="/assets/c.js"></script>
	<script src="/assets/c.js"></script>
	<script src="/assets/b.js"></script>
	<script src="/assets/a.js"></script>
	<script src="/assets/c.js"></script>
	<script>
var builds = 0;
Page.build(function(state) {
	document.querySelector('.status').innerHTML = "I'm built" + builds++;
});
var setups = 0;
Page.setup(function(state) {
	document.querySelector('.status').innerHTML = "I'm setup" + setups++;
});
	</script>
</head>
<body>
<div class="status"></div>
<div class="abc"></div>
</body>
</html>
