<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="../window-page.js"></script>
	<script>
Page.build(function() {});
Page.patch(function(state) {
	if (window.reloaded) return;
	window.reloaded = true;
	state.finish(function(state) {
		state.reload();
	});
});
window.setups = window.setups || 0;
window.closes = window.closes || 0;
Page.setup(function() {
	document.documentElement.dataset.setup = ++window.setups;
});
Page.close(function() {
	document.documentElement.dataset.close = ++window.closes;
});

	</script>
</head>
<body>test</body>
</html>
