<!DOCTYPE html>
<html>
<head>
	<title>Sample replace page</title>
	<script src="../window-page.js"></script>
	<script>
var nums = {
	build: 0,
	patch: 0,
	paint: 0,
	setup: 0
};
var reads = {};
Page.build(checkNums);
Page.patch(checkNums);
Page.setup(checkNums);

function checkNums(state) {
	var stage = state.stage;
	var node = document.querySelector('.' + stage);
	if (!reads[stage]) {
		reads[stage] = true;
		var int = parseInt(node.innerHTML);
		if (!isNaN(int)) nums[stage] = int;
	}
	node.innerHTML = ++nums[stage];
}

Page.patch(function(state) {
	if (state.stage != 'patch') throw new Error("bad stage");
	if (state.query.toto) document.querySelector('.url').innerHTML = state.toString();
});

Page.setup(function(state) {
	setTimeout(function() {
		state.replace({query: {toto: 1}});
	}, 50);
});

	</script>
</head>
<body>
<div class="build"></div>
<div class="patch"></div>
<div class="paint"></div>
<div class="setup"></div>
<div class="url"></div>
</body>
</html>
