<!DOCTYPE html>
<html>
<head>
	<title>Template page</title>
	<script src="/polyfills/url.js"></script>
	<script src="/polyfills/promise.js"></script>
	<script src="/window-page.js"></script>
	<link rel="stylesheet" href="/assets/square.css"></script>
	<script>
var calls = 0;
Page.build(function(state) {
	if (document.body.offsetWidth == 400) {
		document.querySelector('.status').innerHTML = "squared" + calls++;
	} else {
		document.querySelector('.status').innerHTML = "hidden" + calls++;
	}
});
Page.setup(function(state) {
	if (document.body.offsetWidth == 400) {
		document.querySelector('.status').innerHTML = "squared" + calls++;
	}
});
	</script>
</head>
<body>
<div class="status"></div>
</body>
</html>
